<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^(\w+)$ /$1.php [L,NC]

	RewriteRule ^category/([A-Za-z0-9]+)/([0-9]+)$ /category?category=$1&page=$2 [L,NC]
	RewriteRule ^category/([A-Za-z0-9]+)$ /category?category=$1 [L,NC]
	RewriteRule ^article/([A-Za-z0-9]+)$ /single?article=$1 [L,NC]

	RewriteRule ^sitemap.xml$ /sitemap.php?type=xml [L]
	RewriteRule ^robots.txt?$ /robots.php  [L,QSA]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /
</IfModule>